@import "./variables";

.fs-7 {
    font-size: 0.875rem !important; //14px
}

.fs-8 {
    font-size: 0.75rem !important; //12px
}

.fs-9 {
    font-size: 0.625rem !important; //10px
}

.fs-10 {
    font-size: 0.5rem !important; //8px
}

.fw-500 {
    font-weight: 500 !important;
}
