@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "./variables";
@import "./modifBoostrap";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

#testing {
    max-width: 375px;
    margin-left: 5%;
}

.main_content {
    min-height: calc(100vh - 8px - 116px);
}

.header_mobile {
    background-color: lawngreen;
    padding: 1rem;

    .iconify {
        font-size: 2rem;
    }

    .page_title {
        font-family: "Caveat", cursive;
        font-size: 1.5rem;
    }
}

.set-header {
    margin-left: auto;
}

#set-cart-position {
    margin-bottom: 12px;
    margin-right: 8px;
}

.footer_mobile {
    background-color: lawngreen;
    padding: 1rem;
}

.link-style {
    color: black;
    text-decoration: none;
}

.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
  }
  .nav-tabs>li {
    float: none;
  }