@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
.fs-7 {
  font-size: 0.875rem !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}

.fs-9 {
  font-size: 0.625rem !important;
}

.fs-10 {
  font-size: 0.5rem !important;
}

.fw-500 {
  font-weight: 500 !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

textarea {
  height: 100px;
}

[data-href],
.cursor-pointer {
  cursor: pointer;
}

.logo {
  font-family: "Caveat", cursive;
  font-size: 2rem;
  margin-bottom: 0;
}

.dropdown-toggle {
  color: #000;
  text-decoration: none;
}

.dropdown-toggle:hover {
  color: #ef8157;
}

.dropdown-toggle::after {
  border: 0;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: linear-gradient(229.58deg, #1e82c5 43.01%, #5eb6de 114.3%);
  -webkit-transition: width 300ms;
  transition: width 300ms;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}

.sidebar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.sidebar-brand .hamburger_icon {
  font-size: 2.5rem;
  color: white;
}

.sidebar-brand .hamburger_icon:hover {
  color: #ef8157;
}

.sidebar-menu {
  padding: 2rem 0 2rem 1rem;
}

.sidebar-menu hr,
.sidebar-menu h1 {
  color: #fff;
}

.sidebar-menu i {
  font-size: 1.5rem;
}

.sidebar-menu a {
  display: block;
  color: #f0f0e7;
  padding: 5px 15px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-menu a.active {
  color: #66615b;
  background-color: #eeeeed;
  border-radius: 1.875rem 0 0 1.875rem;
  padding: 1rem;
  max-height: 57px;
}

.sidebar-menu a:hover {
  color: #ef8157;
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked ~ .main-content main,
#nav-toggle:checked ~ .main-content header .breadcrumbs-container {
  margin-left: 0;
}

#nav-toggle:checked + .sidebar {
  width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar .sidebar-brand h3,
#nav-toggle:checked + .sidebar .sidebar-menu li a span:last-child,
#nav-toggle:checked + .sidebar .sidebar-menu h1,
#nav-toggle:checked + .sidebar .sidebar-menu .arrow {
  display: none;
}

#nav-toggle ~ .main-content {
  margin-left: 70px;
}

#nav-toggle ~ .main-content header .breadcrumbs-container {
  background-color: #fff !important;
  margin-left: 185px;
}

#nav-toggle ~ .main-content main .loading-indicator {
  left: calc(50% + 70px);
}

.main-content {
  -webkit-transition: margin-left 300ms;
  transition: margin-left 300ms;
  margin-left: 250px;
}

header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.6rem;
  left: 250px;
  z-index: 998;
  -webkit-transition: left 300ms;
  transition: left 300ms;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-shadow: rgba(18, 19, 20, 0.1) 0px 10px 10px -10px;
          box-shadow: rgba(18, 19, 20, 0.1) 0px 10px 10px -10px;
}

header .admin-wrapper {
  position: relative;
}

header .admin-wrapper .profile_picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

header .admin-wrapper .active_indicator {
  background-color: green;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  position: absolute;
  left: calc(40px - 0.5rem);
  bottom: 0;
}

header .dropdown-toggle {
  max-height: 50px;
}

main {
  margin: 0 0 60px 180px;
  -webkit-transition: margin-left 300ms;
  transition: margin-left 300ms;
  min-height: calc(100vh - 90px);
  position: relative;
}

.breadcrumbs-container {
  position: relative;
  z-index: 999;
}

.breadcrumb {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 12px;
  }
  header {
    padding: 10px;
  }
  header .dropdown-toggle {
    max-height: 40px;
  }
}

.form-label {
  font-weight: 500;
}

.img-preview {
  max-width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 1rem;
}

.informasi-list.mb_big span b {
  line-height: 1.8;
  font-size: 1rem;
}

.informasi-list span b {
  position: relative;
  display: inline-block;
  min-width: 50%;
  margin-right: 1rem;
  line-height: normal;
  font-weight: 500;
  font-size: 1rem;
}

.informasi-list span b:after {
  content: ":";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 0;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #000;
  vertical-align: middle !important;
}

table th {
  vertical-align: middle !important;
}

table tbody td,
table tbody th {
  vertical-align: middle !important;
  border: 1px solid #dee2e6;
}

table.table-top td {
  vertical-align: top !important;
}

.dataTables_wrapper .dataTables_filter {
  float: none;
  text-align: left;
}

#table_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1rem;
}

.swal2-title {
  font-size: 1.3rem !important;
}

.all-notification {
  width: 350px;
  border-radius: 10px;
  position: fixed;
  z-index: 998;
  top: 6.5rem;
  right: 2.5rem;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  max-height: 80vh;
  overflow-y: auto;
}

main ::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

main ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

main ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

main ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 576px) {
  .all-notification {
    width: 250px;
    top: 6.5rem;
    right: 1rem;
  }
}

.hasnotif_indicator {
  background-color: red;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.alert_notif {
  position: relative;
}

.alert_notif.active i {
  color: #f3d008;
}

.dataTables_filter {
  margin-bottom: 1.5rem !important;
}

.btn_purple {
  background-color: #6366f1;
  color: #fff;
}

.btn_purple:hover {
  color: #fff;
  background-color: #575af5;
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 500ms, opacity 500ms linear;
  transition: visibility 0s 500ms, opacity 500ms linear;
}

.m-fadeIn {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.card_notif {
  border: 1px solid lightgray;
  padding: 0.7rem;
  margin-top: 1rem;
}

.card_notif:first-child {
  margin-top: 0;
}

.sidebar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.sidebar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.profil_picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.graph {
  width: 99%;
  background-color: #008cff;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  height: auto;
}

.graph canvas {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
}

.graph:hover {
  background-color: #003a7b;
}

.data-list {
  background-color: #ebecf0;
  margin-top: 2.75rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  -webkit-box-shadow: rgba(173, 175, 177, 0.2) 0px 8px 24px;
          box-shadow: rgba(173, 175, 177, 0.2) 0px 8px 24px;
}

.data-list:hover {
  background-color: #ccccce;
}

.data-list .data-content {
  background-color: #fff;
  padding: 0.9rem;
  border-radius: 0.5rem;
}

.data-list h1 {
  color: #003a7b;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.data-list .sales {
  border-bottom: 1px solid #c4c3c3;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 992px) {
  .graph {
    margin-top: 22px;
    padding: 1rem;
  }
  .graph canvas {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .data-list {
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .mt-4 {
    margin-top: 1rem;
  }
}

.badge {
  color: #fff;
  padding: 0.35em 0.65em;
  font-weight: bold;
  text-align: center;
  border-radius: 0.25em;
}

.badge-order-track-0,
.badge-order-track-1,
.badge-reimbursement-0,
.badge-opname--1 {
  background-color: #dfa916;
}

.badge-order-track-2,
.badge-reimbursement-2,
.badge-opname-1,
.badge-kas-disetujui {
  background-color: #20c21a;
}

.badge-order-track-3 {
  background-color: #1ac28a;
}

.badge-order-track-4 {
  background-color: #1aa0c2;
}

.badge-order-track-5,
.badge-reimbursement-1,
.badge-kas-diajukan {
  background-color: #1a25c2;
}

.badge-order-track-6 {
  background-color: #921ac2;
}

.badge-order-track--1,
.badge-reimbursement--1,
.badge-kas-ditolak {
  background-color: #c21a1a;
}

select[readonly] {
  pointer-events: none;
  background-color: lightgray;
}

.info-list span b {
  position: relative;
  display: inline-block;
  min-width: 50%;
  margin-right: 4px;
  line-height: normal;
  font-weight: 600;
}

.info-list span b:after {
  content: ":";
  position: absolute;
  right: 0;
}

.nav-links .menu-group span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-links .icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 2rem;
  max-height: 57px;
  color: #fff;
}

.nav-links .icon-link a {
  cursor: pointer;
}

.nav-links .icon-link.active {
  background-color: #eeeeed;
  border-radius: 1.875rem 0 0 1.875rem;
  padding: 1rem 2rem 1rem 0;
}

.nav-links .icon-link.active a,
.nav-links .icon-link.active span,
.nav-links .icon-link.active i {
  color: #66615b;
}

.nav-links .showMenu i.arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-links i.arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #c3c1bf;
}

.nav-links .showMenu .sub-menu {
  position: relative;
  left: -1rem;
  right: -1rem;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #003a7b;
}

.nav-links .showMenu .sub-menu li {
  position: relative;
  right: -1rem;
  background-color: #003a7b;
  padding: 0.5rem 0;
}

.nav-links .sub-menu {
  display: none;
}

.nav-links .sub-menu a {
  color: lightblue;
}

.nav-links .sub-menu a:hover {
  color: #ef8157;
}

.nav-links .sub-menu .active-submenu {
  color: #fff;
}

#map {
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 576px) {
  #map {
    width: 100%;
  }
}

.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999;
}

#horizontal_scroll {
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.filter-notif {
  margin-bottom: 0.3rem;
  margin-right: 0.5rem;
}

.filter-notif:last-of-type {
  margin-right: 0;
}

.filter-notif.active {
  background-color: #0d6efd;
}

.sidebar-mobile .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: linear-gradient(229.58deg, #1e82c5 43.01%, #5eb6de 114.3%);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar-mobile .closebtn {
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}

.header-mobile .hamburger {
  font-size: 2rem;
  cursor: pointer;
}

.main-mobile {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  border: 0;
  background-color: #fff;
  padding: 0.75rem 1rem;
}

.main-mobile .graph {
  padding: 1rem;
  margin-top: 2rem;
}

.main-mobile .data-list {
  margin-top: 2rem;
  padding: 1rem;
}

.select2-selection__clear {
  display: none;
}
/*# sourceMappingURL=dashboard.css.map */