@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import "./variables";
@import "./modifBoostrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: $body-bg;
}

textarea {
    height: 100px;
}

[data-href] {
    cursor: pointer;
}

.logo {
    font-family: "Caveat", cursive;
    font-size: 2rem;
    margin-bottom: 0;
}

.dropdown-toggle {
    color: #000;
    text-decoration: none;
    &:hover {
        color: $secondary-color;
    }
    &::after {
        border: 0;
    }
}

.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: linear-gradient(229.58deg, #1e82c5 43.01%, #5eb6de 114.3%);
    transition: width 300ms;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;

    .sidebar-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .hamburger_icon {
            font-size: 2.5rem;
            color: white;
            &:hover {
                color: $secondary-color;
            }
        }
    }

    .sidebar-menu {
        padding: 2rem 0 2rem 1rem;
        hr,
        h1 {
            color: #fff;
        }

        i {
            font-size: 1.5rem;
        }

        a {
            display: block;
            color: #c3c1bf;
            padding: 5px 15px;
            text-decoration: none;

            display: flex;
            align-items: center;

            &.active {
                color: #66615b;
                background-color: $whitesmoke;
                border-radius: 1.875rem 0 0 1.875rem;
                padding: 1rem;
            }
            &:hover {
                color: $secondary-color;
            }
        }
    }
}

#nav-toggle {
    display: none;

    &:checked {
        & ~ .main-content main,
        & ~ .main-content header .breadcrumbs-container {
            margin-left: 0;
        }

        & + .sidebar {
            width: 70px;
            .sidebar-brand h2 span:last-child,
            .sidebar-brand h3,
            .sidebar-menu li a span:last-child,
            .sidebar-menu h1,
            .darkmode-toggle .darkmode-switch {
                display: none;
            }

            .darkmode-toggle {
                display: block;
            }
        }
    }

    & ~ .main-content {
        margin-left: 70px;
    }

    & ~ .main-content header {
        .breadcrumbs-container {
            background-color: #fff !important;
            margin-left: 185px;
        }
    }
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 250px;
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.6rem;
    left: 250px;
    z-index: 998;
    transition: left 300ms;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: rgba(18, 19, 20, 0.1) 0px 10px 10px -10px;

    .admin-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .profile_picture {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .active_indicator {
            background-color: green;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            position: absolute;
            left: calc(40px - 0.5rem);
            bottom: 0;
        }
    }

    .dropdown-toggle {
        max-height: 50px;
    }
}

main {
    // padding: 0 24px;
    margin: 0 0 60px 180px;
    transition: margin-left 300ms;
    min-height: calc(100vh - 90px);
    position: relative;
}

.breadcrumbs-container {
    position: relative;
    // top: -53px;
    z-index: 999;
}

.breadcrumb {
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 560px) {
    html {
        font-size: 12px;
    }

    header {
        padding: 10px;
        .dropdown-toggle {
            max-height: 40px;
        }
    }
}

.search-box {
    position: relative;
    .form-control {
        text-indent: 15px;
        border: none;
        height: 45px;
        border-radius: 0px;
        border-bottom: 1px solid #eee;
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #eee;
            outline: 0;
            box-shadow: none;
            border: 1px solid blue;
        }
    }
    i {
        position: absolute;
        top: 14px;
        left: 4px;
        color: #b8b9bc;
    }
}

.stok-page {
    .product_wrapper {
        background-color: #fff;
        padding: 16px;
        h3 {
            font-size: 1.1rem;
        }
        .satuan {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2rem;
        }
    }
    .ubahStok-btn {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
}

.form-label {
    font-weight: 500;
}

.img-preview {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
}

.informasi-list {
    &.mb_big {
        span b {
            line-height: 1.8;
        }
    }
    span b {
        position: relative;
        display: inline-block;
        min-width: 50%;
        margin-right: 1rem;
        line-height: normal;
        font-weight: 500;
        font-size: 1.1rem;
        &:after {
            content: ":";
            position: absolute;
            right: 0;
        }
    }
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #000;
    vertical-align: middle !important;
}

table.dataTable tbody td,
table.dataTable tbody th {
    vertical-align: middle !important;
    border: 1px solid lavender;
}

table th {
    vertical-align: middle !important;
}

table tbody td,
table tbody th {
    vertical-align: middle !important;
    border: 1px solid lavender;
}

.dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: left;
}

#table_filter {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.swal2-title {
    font-size: 1.3rem !important;
}

.retur_notif,
.order_notif,
.trip_notif,
.limit_notif {
    width: 350px;
    border-radius: 10px;
    position: fixed;
    z-index: 999;
    top: 6.5rem;
    right: 2.5rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.limit_notif {
    top: 7.5rem;
}

.alert_retur,
.alert_order,
.alert_trip,
.alert_limit {
    &.active {
        i {
            color: rgb(243, 208, 8);
        }
    }
}

.dataTables_filter {
    margin-bottom: 1.5rem !important;
}

.btn_purple {
    background-color: #6366f1;
    color: #fff;
    &:hover {
        color: #fff;
        background-color: #575af5;
    }
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms linear;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms linear;
}

.card_notif {
    border: 1px solid lightgray;
    padding: 0.7rem;
    margin-top: 1rem;
    &:first-child {
        margin-top: 0;
    }
}

.sidebar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

.profil_picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.graph {
    width: 99%;
    background-color: #008cff;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    transition: ease-in-out 0.4s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: auto;

    canvas {
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        margin-top: 10px;
    }

    &:hover {
        background-color: #003a7b;
    }
}

.data-list {
    background-color: #fff;
    margin-top: 50px;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    h1 {
        background: linear-gradient(
            to right,
            #051937,
            #004d7a,
            #008793,
            #00bf72,
            #a8eb12
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .sales {
        border-bottom: 1px solid rgb(196, 195, 195);
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}

@media screen and (max-width: 992px) {
    .graph {
        margin-top: 22px;
        padding: 1rem;

        canvas {
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }

    .data-list {
        margin-top: 1.5rem;
        padding: 1rem;

        h1 {
            font-size: 1rem !important;
        }

        .sales {
            padding: 0.5rem;
        }
    }

    .mt-4 {
        margin-top: 1rem;
    }
}
