@import "./variables";
@import "./mixin";
@import "./modifBoostrap";
// font untuk logo tulisan salesMan
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader,
.loader::before,
.loader::after {
    content: "";
    width: 1rem;
    display: grid;
    aspect-ratio: 0.5;
    grid-area: 1/1;
    background: radial-gradient(#000 68%, #0000 72%) 0% 50%/100% 50% no-repeat;
    animation: load 1.2s infinite linear calc(var(--s, 0) * 0.4s);
    transform: translate(calc(var(--s, 0) * 150%));
}

.loader::before {
    --s: -1;
}
.loader::after {
    --s: 1;
}

@keyframes load {
    20% {
        background-position: 0% 0%;
    }
    40% {
        background-position: 0% 100%;
    }
    60% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $light;
}

textarea {
    height: 100px;
}

.text-elipsis {
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elipsis-two {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.page_main {
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    border: 0;
    background-color: #fff;
}

.page_container {
    padding: 0 0.7rem 2rem;
}

.avatar_pp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

// ================ HEADER ===================
.header_mobile {
    background-color: lawngreen;
    padding: 1rem;

    .iconify {
        font-size: 2rem;
    }

    .page_title {
        font-family: "Caveat", cursive;
        font-size: 1.5rem;
    }
}

// ============== MODAL ================

// ============== TRIP =================

.satuan {
    font-size: 1rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.preview_tempatUsaha {
    max-width: 100%;
}

.trip_aksi {
    float: right;
}

// ============== ORDER ================
.customer_info {
    max-height: 150px;
    div:nth-child(2) {
        max-height: 150px;
        border: 1px solid #000;
        overflow: auto;
        h1 {
            font-size: 1.2rem;
        }
        h2 {
            font-size: 1rem;
            font-weight: normal;
        }
    }
}

// ============== Product ==============

.addCart-btn {
    @include flex-box(center, center);
    .iconify {
        color: #1e82c5;
        font-size: 1.5rem;
    }
}

.productCard_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;

    .product_card {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 8px;
        border: 0;
    }

    .product_img {
        img {
            border-radius: 8px 8px 0 0;
            width: 100%;
            max-height: 150px;
            object-fit: cover;
            object-position: center;
        }
    }

    .product_desc {
        padding: 0.5rem;
    }

    .product_title {
        font-weight: 600;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }
}

.cart_item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #fff;
    padding: 1rem 0;
}

.form-check {
    margin-top: 1.25rem;
}

.customCheckbox_wrapper {
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    font-weight: 400;
}

input[type="checkbox"] {
    visibility: hidden;
}

.custom_checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fbfbfb;
    border: 1px solid #bebebe;
    border-radius: 4px;
}

input:checked ~ .custom_checkbox {
    background-color: #eb5757;
    border-color: #eb5757;
}

.custom_checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked ~ .custom_checkbox:after {
    display: block;
}

.custom_checkbox:after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 1.2rem;
    width: 1.2rem;
    background: url("https://api.iconify.design/icon-park-outline/check-small.svg?color=%23fff")
        no-repeat center center / contain;
}

.grid_item {
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 1rem;
}

.detail_item {
    .elipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    input {
        min-width: 30px;
        border: 0;
        border-bottom: 1px solid royalblue;
        background-color: transparent;
        margin: 0 0.625rem;
        font-size: 0.875rem;
    }
}

.btn_deleteItem {
    width: 2.25rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
